a {
  color: orange;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: darken(orange, 20%);
  }
  .light & {
    color: #1e88e5;
    &:hover,
    &:focus,
    &:active {
      color: darken(#1e88e5, 20%);
    }
  }
}

.nav--two {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.light {
  .nav--two {
    color: black;
    background: rgba(255, 255, 255, 0.75);
  }
}

small {
  color: white;
  .light & {
    color: black;
  }
}

.main,
.modal,
.accordion__btn {
  color: $dark;
  .light & {
    color: $white;
  }
}

.main,
.modal,
.accordion__btn {
  background: $blackO;
  .light & {
    background: $whiteO;
  }
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  &.light {
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.accordion__btn:hover {
  color: $black__;
  background: $white__;
  .light & {
    color: $black;
    background: $white;
  }
  .active &,
  .light .active & {
    color: inherit;
  }
}

.table {
  th {
    border-color: $dark__;
    &:last-child {
      border-color: $dark__;
    }
  }
  td {
    border-color: $dark__;
    &:last-child {
      border-color: $dark__;
    }
  }
  .light & {
    th {
      border-color: $dark;
      &:last-child {
        border-color: $dark;
      }
    }
    td {
      border-color: $dark;
      &:last-child {
        border-color: $dark;
      }
    }
  }
}

.modal {
  &__header {
    border-color: $dark__;
  }
  &__ul {
    li {
      border-color: $dark__;
    }
  }
  .light & {
    &__header {
      border-color: $dark;
    }
    &__ul {
      li {
        border-color: $dark;
      }
    }
  }
}

.accordion {
  &__item {
    border-color: $darker__;
    .active {
      border-color: $dark__;
      .accordion__btn {
        background: $darker__;
      }
    }
  }
  .light & {
    &__item {
      border-color: $darker;
      .active {
        border-color: $dark;
        .accordion__btn {
          background: $darker;
        }
      }
    }
  }
}

.main {
  &__a {
    color: #1c9cea;
    &:hover,
    &:focus {
      color: darken(#1c9cea, 15%);
    }
    .light & {
      color: #1c9cea;
      &:hover,
      &:focus {
        color: darken(#1c9cea, 15%);
      }
    }
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

.danger {
  background: rgba(255, 0, 0, 0.7);
}

.Toastify {
  &__toast--dark {
    background: black;
  }
  &__toast--success {
    background: green;
  }
  &__toast--error {
    background: red;
  }
  &__progress-bar--dark {
    background: orange;
  }
}
