* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.75;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Verdana";
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  th {
    word-break: break-word;
    text-align: left;
    font-weight: normal;
    &:last-child {
      border-left: solid 1px;
    }
  }
  td {
    border-top: solid 1px;
    border-bottom: solid 1px;
    &:last-child {
      border-left: solid 1px;
    }
  }
  th,
  td {
    padding: 0;
    vertical-align: middle;
    @media screen and (min-width: 320px) {
      padding: 0.5rem 1rem;
    }
  }
  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
  button {
    margin-right: 0.5rem;
  }
}

svg {
  font-size: 1.25rem;
}

.main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ft {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 1rem;
    text-align: center;
    h1 {
      margin: 0;
      line-height: 1;
    }
    h2 {
      margin: 0 0 0.5rem;
      font-size: 16px;
    }
    img {
      max-width: 125px;
      height: auto;
    }
    a {
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid #333;
      justify-self: flex-start;
    }
  }
  &__a {
    margin-left: 0.5rem;
  }
  .light & {
    &__ft__a {
      border: 1px solid #1c9cea;
    }
  }
}

.nav {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  &__label {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
    @media screen and (min-width: 768px) {
      padding-right: 1rem;
      padding-bottom: 0;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &--two {
      align-items: center;
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__content {
    display: flex;
    justify-content: flex-end;
  }
  &__form {
    margin: 0;
    &__input {
      width: 140px;
    }
    &__items {
      margin-top: 0.5rem;
      display: flex;
      justify-content: flex-end;
    }
    &__btn {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      &--off {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  &__btn {
    margin-left: 1rem;
    &--hide {
      display: none;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &__header {
    background: inherit;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
  &__aside {
    display: flex;
    align-items: center;
  }
  &__aside,
  &__footer {
    *:last-child {
      margin-left: 0.5rem;
    }
  }
  &__ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    li {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
      border-bottom: 1px solid;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.li {
  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      flex-grow: 1;
    }
    svg {
      min-width: 1.25rem;
      margin: 0 0 0 0.5rem;
    }
  }
}

.accordion {
  &__item {
    border-top: 1px solid;
    &:first-child {
      border-top: 0;
    }
    .active {
      border-bottom: 1px solid transparent;
    }
    .accordion__panel {
      padding: 0;
    }
    .accordion__btn {
      min-height: 44px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: space-between;
  }
  &__data {
    display: flex;
  }
  &__details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      margin: 0;
      @media screen and (min-width: 320px) {
        margin: 0 1rem;
      }
    }
  }
  &__country {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__flag {
    &__img {
      min-height: 1rem;
      min-width: auto;
      object-fit: contain;
      @media screen and (min-width: 320px) {
        min-height: 2.75rem;
        min-width: 5rem;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: auto;
    height: inherit;
    margin-left: 0.5rem;
    margin-right: 1rem;
    @media screen and (min-width: 320px) {
      min-width: 3rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    svg {
      min-width: 32px;
      margin-right: 0.25rem;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.controls {
  display: flex;
  > * {
    margin-right: 1rem;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.empty-cart,
.empty-list {
  padding: 0 1rem;
}

.error {
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  h1 {
    line-height: 1.25;
    text-align: center;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  a {
    margin-left: 0.25rem;
  }
  > * {
    margin-top: 1rem;
    &:first-child {
      margin: 0;
    }
  }
  svg {
    height: 100%;
  }
}
