@import-normalize;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.75;
}

body {
  font-size: 1rem;
  font-family: "Verdana";
}

svg {
  vertical-align: middle;
  font-size: 1.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background: #222;
  }
  tbody {
    background: #111;
  }
  th {
    padding: 1rem;
  }
  td {
    padding: 0.5rem 1rem;
  }
  button {
    margin-right: 0.25rem;
  }
}

a {
  color: orange;
  &:hover,
  &:focus,
  &:active {
    color: darken(orange, 20%);
  }
}

.main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  &__text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 1rem;
    h1 {
      margin-bottom: 0.75rem;
    }
  }
  &__a {
    color: #1c9cea;
    margin-left: 0.5rem;
    &:hover,
    &:focus {
      color: darken(#1c9cea, 15%);
    }
  }
}

.nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  &__row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  &__form {
    margin: 0;
    display: flex;
    &__input {
      width: 140px;
    }
    &__btn {
      margin-left: 0.5rem;
    }
  }
  &__btn {
    margin-left: 0.5rem;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  color: white;
  background: black;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &__header {
    background: inherit;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #333;
  }
  &__aside {
    display: flex;
    align-items: center;
  }
  &__aside,
  &__footer {
    *:last-child {
      margin-left: 0.5rem;
    }
  }
  &__ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    li {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
      border-bottom: 1px solid #333;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.accordion {
  &__item {
    .active {
      .accordion__button {
        background: #222;
      }
    }
    .accordion__panel {
      padding: 0;
    }
    .accordion__button {
      min-height: 40px;
      padding: 0.25rem 1rem;
      color: white;
      background: black;
      &:hover {
        color: black;
        background: white;
      }
      &::before {
        margin-top: 10px;
      }
      &[aria-expanded="true"]::before {
        margin-left: 6px;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: space-between;
  }
  &__data {
    display: flex;
  }
  &__details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      margin: 0 0.5rem;
    }
  }
  &__country {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__flag {
    background: #222;
    &__img {
      min-height: 2rem;
      min-width: 5rem;
      object-fit: contain;
    }
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 3rem;
    height: inherit;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.danger {
  background: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.empty-cart {
  padding: 0 1rem;
}
